@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --bgPrimary: #0c112a;
    --bgSecondary: linear-gradient(150deg, rgba(42, 109, 38, 0.1) 0%, rgba(61,86,205, 0.1) 90%);
    --bgTransparent: rgba(255, 255, 255, 0.0);
    --txtColor: #e9e9e9;
    --borderColor: rgba(255, 255, 255, 0.2);
}

html{
    background: var(--bgPrimary);
    color: var(--txtColor);
    font-family: "Open Sans", serif;
}

.error-box{
   position: absolute;
   right: 0;
   bottom: 4%;
   width: 100%;
   max-width: 500px;
   height: 60px;
}

.message-container{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    background: #e9e9e9;
    color: #000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.25em;
}

.message-container p i{
    color:  #ff0000;
    font-size: 1.25em;
}

.message-container button{
    font-size: 1.25em;
    height: 30px;
    width: 30px;
    cursor: pointer;
}


main{
    height: 90vh;
}

main > .container{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
}

#search-box{
    height: 60px;
    max-width: 500px;
    width: 90%;
    background: var(--bgTransparent);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
}

#search-box > .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

#search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--txtColor);
    font-weight: 600;
    font-size: 1.25em;
}

#search-btn{
    height: 40px;
    width: 40px;
    border: solid 1px var(--borderColor);
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

#search-box i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    color: var(--txtColor);
}

#displayer-box{
    height: 500px;
    width: 90%;
    max-width: 500px;
    background: var(--bgSecondary);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
}

#displayer-box > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

#loader{
  display: none;
  border: 2px solid #e9e9e9; /* Light grey */
  border-top: 2px solid #0c112a; /* Blue */
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#location-name{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: 2%;
}

#location-temperature{
    font-size: 2em;
    font-weight: 600;
}

#condition-parameters{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 300;
}

#condition-text{
    font-size: 1.5em;
}

#other-parameters{
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#other-parameters i{
    color: #a8d2ff;
}

footer{
    border-top: 1px solid var(--borderColor);
}

footer .container{
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.10em;
}

#social-icons{
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons a{
    color: #e9e9e9;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    html{
        font-size: 0.80em;
    }

    #displayer-box{
        height: 360px;
    }
}